* {
  font-family: "Raleway", sans-serif;
}
body {
  margin: 0px;
  padding: 0px;
} /* Nav bar and logo */
.nav {
  display: flex;
  justify-content: space-between;

  margin: 0%;
}

.logo {
  width: 130px;
  position: relative;
  left: 10px;
  cursor: pointer;
}

.nav-link ul li {
  list-style: none;
  text-decoration: none;
  display: inline-block;
  color: #0065fc;
  padding: 0px 15px;
}
.nav-link ul li a {
  text-decoration: none;
  padding: 15px 25px;
  color: #0065fc;
  font-weight: bolder;
}
.active {
  border-top: #0065fc 3px solid;
}
.activites {
  color: #000000;
  font-weight: 500;
}

/*serach box !!!!!!!!!!!!!!!!!!!*/
.search-box {
  margin: 0px 15px;
}
.search-box h2 {
  font-weight: 700;
}
.search-box p {
  font-weight: 500;
  font-size: 20px;
}
.btn {
  width: 40px;
  height: 40px;
  padding: 15spx;
  background-color: #f2f2f2;
  border: none;
  border-radius: 12px 0 0 12px;
}
.fa-map-marker {
  background-color: #f2f2f2;
  position: relative;
}

input[type="text"] {
  width: 150px;
  height: 40px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  outline: #f2f2f2;
  font-size: 15px;
  font-weight: 900;
  padding: 0px 15px;
  position: relative;
  left: 3px;
}
input[type="submit"] {
  position: relative;
  border-radius: 0 12px 12px 0;
  width: 100px;
  height: 40px;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: #0065fc;
  color: #f2f2f2;
  font-weight: bold;
  left: -5px;
}
input[type="text"]:hover {
  border: #f2f2f2 solid 2px;
}
input[type="submit"]:hover {
  background-color: #0065fc;
}

.filtres {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  font-weight: 900;
}
ul li {
  list-style-type: none;
  display: inline-block;

  padding: Opx;
}
ul {
  padding: 0px;
}
.Filtres ul li a {
  border: 1px solid #c5c3c3;

  padding: 10px 15px 10px 0px;
  color: black;

  border-radius: 25px;
  text-decoration: none;
  font-weight: 800;
  transition: 0.3s ease-in-out;
}
.Filtres ul li a:hover {
  background-color: #deebff;
  opacity: 1;
}

.fa-money-bill-wave {
  color: #0065fc;
  background-color: #deebff;
  border: none;
  padding: 11px;
  border-radius: 20px;
}
.fa-child {
  color: #0065fc;
  background-color: #deebff;
  border: none;
  padding: 11px;
  border-radius: 20px;
  align-items: left;
}
.fa-heart {
  color: #0065fc;
  background-color: #deebff;
  border: none;
  padding: 11px;
  border-radius: 20px;
}
.fa-dog {
  color: #0065fc;
  background-color: #deebff;
  border: none;
  padding: 11px;
  border-radius: 20px;
}
.fa-child:hover {
  background-color: #f2f2f2;
}
.fa-dog:hover {
  background-color: #f2f2f2;
}

.fa-heart:hover {
  background-color: #f2f2f2;
}
.fa-money-bill-wave:hover {
  background-color: #f2f2f2;
}
.fa-child:hover {
  background-color: #f2f2f2;
}
.fa-info {
  border: 2px solid #deebff;
  padding: 5px 8px;
  border-radius: 50%;
  font-weight: 500;
  color: #0065fc;
}
.hebergement-merseille {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
#Hébergements {
  margin-left: 15px;
  padding-top: 15px;
}

.main-container {
  background-color: #f2f2f2;
  width: 65%;
  border-radius: 25px;
  margin: 0px 15px;
}
.main-container-chambre {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  padding: 0px 10px 25px;
  margin: 10px;
}
#Hébergements {
  padding-left: 25px;
}
.fa-star,
.checked {
  font-size: 10px;
}
.fa-star {
  color: #d3d2d2;
}
.checked {
  color: #136df5;
  margin: 0px;
  padding: 0px;
}
.prix {
  font-size: 15px;
  font-weight: 500;
}
div.Chambres {
  border: 3px solid #ffffff;
  border-radius: 20px;
  text-align: center;
  box-shadow: #8b8888 5px 5px 10px;
  transition: ease-out 0.3s;
}
div.Chambres:hover {
  border: 3px solid #f2f2f2;
  border-radius: 20px;
  opacity: 0.5;
}
div.Chambres img {
  width: 100%;
  height: 150px;

  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.hebergement-a-merseille {
  padding: 10px 8px;
  width: 32.99999%;
}
div.desc {
  padding-left: 10px;
  text-align: left;
  padding-bottom: 5px;
}
h4 {
  margin: 5px;
  padding-left: 8px;
  padding-top: 10px;
}
* {
  box-sizing: border-box;
}

.plus-populaire {
  background-color: #f2f2f2;
  border: none;
  width: 30%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.Plus-pop {
  padding: 10px 8px;
  width: 90%;
}
div.side {
  border: 3px solid #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  box-shadow: #8b8888 5px 5px 10px;
  transition: ease-out 0.3s;
}

div.side:hover {
  border: 3px solid #f2f2f2;
  border-radius: 20px;
  opacity: 0.5;
}

div.side img {
  width: 80%;
  height: 150px;
  margin: 0%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
div.side a {
  width: 70%;
}
div.desc-side {
  justify-content: center;
  text-align: left;
  padding-bottom: 5px;
  padding-top: 25px;

  border-top-right-radius: 20px;
}

h2.headings {
  text-align: left;
  margin-left: 10px;
  padding-top: 10px;
}
.fa-chart-line {
  float: right;
  padding-left: 50px;
}

/*Activities----------------------*/
#Activites {
  padding-left: 25px;
}
.Activities-marseille {
  margin: 0px 15px;
  width: 95%;
  height: auto;
  padding-left: 10px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;

  grid-template-areas:
    "Vieux-Port Fort-de-Pomégues Parc-National Notre-dame"
    "Vieux-Port Iles-du-Frioul Parc-National Parc-Longchamp";
}

.activities-O1 {
  grid-area: Vieux-Port;
  width: 1fr;
  text-align: left;

  height: 380px;
}

div.Vieux-Port {
  border: none;
  margin: 0%;
  border-radius: 20px;
  text-align: left;
  box-shadow: #928c8cfd 5px 5px 10px;
  transition: ease-out 0.3s;
  padding-bottom: 15px;
}
div.Vieux-Port:hover {
  border: none;
  border-radius: 20px;
  opacity: 0.5;
}
div.Vieux-Port img {
  width: 99.5%;
  height: 375px;
  object-fit: cover;
  margin: 0%;
  padding-left: 0%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.activities-O2 {
  width: 1fr;
  grid-area: Fort-de-Pomégues;
}
div.Fort-de-Pomégues {
  border: none;
  margin: 0%;
  border-radius: 20px;
  text-align: center;
  box-shadow: #928c8cfd 5px 5px 10px;
  transition: ease-out 0.3s;
  padding-bottom: 15px;
}
.Fort-de-Pomégues img {
  width: 99.5%;
  height: 180px;
  margin: 0%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
div.Fort-de-Pomégues:hover {
  border: none;
  border-radius: 20px;
  opacity: 0.5;
}

.activities-O3 {
  width: 1fr;

  grid-area: Iles-du-Frioul;
}
div.Iles-du-Frioul {
  border: none;
  margin: 0%;
  border-radius: 20px;
  text-align: center;
  box-shadow: #928c8cfd 5px 5px 10px;
  transition: ease-out 0.3s;
  padding-bottom: 15px;
}
.Iles-du-Frioul img {
  width: 99.5%;
  height: 140px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
div.Iles-du-Frioul:hover {
  border: none;
  border-radius: 20px;
  opacity: 0.5;
}
.activities-O4 {
  width: 1fr;
  grid-area: Parc-National;
  text-align: left;
}
div.Parc-National {
  border: none;
  margin: 0%;
  border-radius: 20px;
  text-align: left;
  box-shadow: #928c8cfd 5px 5px 10px;
  transition: ease-out 0.3s;
  padding-bottom: 15px;
}

.Parc-National img {
  width: 99.5%;
  height: 378px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.activities-O5 {
  grid-area: Notre-dame;
  text-align: center;
}
div.Notre-dame {
  border: none;
  margin: 0%;
  border-radius: 20px;
  text-align: left;
  box-shadow: #928c8cfd 5px 5px 10px;
  transition: ease-out 0.3s;
  padding-bottom: 15px;
}

.Notre-dame img {
  width: 99.5%;
  height: 160px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.activities-O6 {
  width: 1fr;
  grid-area: Parc-Longchamp;
}

div.Parc-Longchamp {
  border: none;
  margin: 0%;
  border-radius: 20px;
  text-align: left;
  box-shadow: #928c8cfd 5px 5px 10px;
  transition: ease-out 0.3s;
  padding-bottom: 10px;
}
.Parc-Longchamp img {
  width: 99.5%;
  height: 150px;
  margin: 0%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
div.info {
  padding-left: 15px;
  font-weight: 600;
  text-align: left;
}

.footer {
  background-color: #f2f2f2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 30px;
}

@media only screen and (max-width: 700px) {
  .hebergement-a-merseille {
    margin: 6px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  @media only screen and (max-width: 500px) {
    .hebergement-a-merseille {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }
}
@media only screen and (max-width: 700px) {
  .plus-populaire {
    margin: 6px 0px;
    width: 49.99999%;
  }

  @media only screen and (max-width: 500px) {
    .Plus-pop {
      width: 100%;
    }
  }
}
@media only screen and (max-width: 700px) {
  .Activities-marseille {
    margin: 6px 0px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: autofit(6, 2fr);
    grid-template-areas:
      "Vieux-Port"
      "Fort-de-Pomégues"
      "Iles-du-Frioul"
      "Parc-National"
      "Notre-dame"
      "Parc-Longchamp";
  }

  @media only screen and (max-width: 500px) {
    .Activities-marseille {
      width: 100%;
    }
  }
  .footer {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
