* { margin: 0%;
    padding: 0%;
    box-sizing: border-box;
font-family: "Raleway", sans-serif;
}
body {
  font-family: "Raleway", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: initial;
}
/*header section */

header {
  width: 98%;
  max-width: 1440px;
  margin: auto;
}

/*navbar*/

.navbar { 
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "logo . accomodation activities sign-up";
}

#logo {
  padding: 0;

}
#logo img{
  width: 130px;
}

.navbar .navbar-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.navbar .navbar-link .underline-effect {
  width: 100%;
  height: 2px;
  background: white;
}

.navbar #navbar-link-accomodation > .underline-effect {
  background: #0065fc;
}

.navbar #navbar-link-activities:hover > .underline-effect {
  background: #0065fc;
}

#navbar-link-sign-up a {
  color: #0065fc;

}

.navbar a {
  color: black;
  text-decoration: none;
  padding: 25px;
}

.navbar a:visited {
  color: #0065fc;
}

.navbar img {
  grid-area: logo;
}

.navbar #navbar-link-accomodation {
  grid-area: accomodation;
  font-weight: 600;
}

#navbar-link-accomodation a {
  color: #0065fc;
}

.navbar #navbar-link-activities {
  grid-area: activities;
  color: black;
  font-weight: 600;
}

.navbar #navbar-link-activities a {
  color: black;
}

.navbar #navbar-link-activities a:hover {
  color: #0065fc;
}

.navbar #navbar-link-sign-up {
  grid-area: sign-up;
  color: #0065fc;
  font-weight: 600;

}

.navbar .active-link {
  color: #0065fc;
}


/*serach box et fitres styling!!!!!!!!!!!!!!!!!!!*/
#Search-box {
 margin: 0px 15px;
}
 #Search-box h1 {
    font-size: 25px;
  margin: 10px 0;
 
  
}
.en-plain {
  font-weight: 500;
  font-size: 0.99rem;
 padding: 0 0 10px 0;
}
.search-box1 {
  margin: 10px 0;
}
.btn { 
  width: 45px;
  height: 45px;
  color: #000000;
  font-weight: 900;
  background-color: #f2f2f2;
  border: none;
  border-radius: 12px 0 0 12px;
}
.fa-map-marker {
  background-color: #f2f2f2;
  position: relative;
  font-weight: 900;
  
}

input[type="text"] {
  width: 190px;
  height: 45px;
  background-color: #ffffff;
  color: #000000;
  border: #f2f2f2 solid 1px;
  outline: #f2f2f2;
  font-size: 15px;
  font-weight: 700;
  padding: 0px 20px;
  position: relative;
  left: -5px;
  border-right: none;
  font-family: raleway;
}

input[type="submit"] {
  position: relative;
  border-radius: 0 12px 12px 0;
  width: 135px;
  height: 45px;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: #0065fc;
  color: #f2f2f2;
  font-weight: bold;
  left: -10px;
  font-family: raleway;
  font-size: 16px;

  transition: 0.5s ease-in-out;
}
input[type="text"]:hover{
    border: #f2f2f2 solid 2px;
}
input[type="submit"]:hover {
  background-color: #0c60df;
  color: #fff;
}
.BTN {
  max-width: 500px;
  position: relative;
  display: none;
  border-radius: 12px 12px;
  width: 50px;
  height: 45px;
  left: -15px;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: #0065fc;
  color: #f2f2f2;
  font-weight: bold;
}

/* filtre div commercer ici*/
.filtres-con{
  margin: 10px 0 15px 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
 
 
}
#filtre strong{
  font-size: 20px;
  font-weight:600;
  margin-left: 0;
  
}

#eco-fam{
  display: flex;
 

}

.eco,.fam,.rom,.Animaux{
  display: flex;
  border: #f2f2f2 solid 2px;
  margin: 0 15px;
  align-items: center;
  border-radius: 25px;
}

.eco:hover,.fam:hover,.rom:hover,.Animaux:hover{
   background-color: #f2f2f2;
}

.filtres-con  a{
  text-decoration: none;
  color: #000000;
  font-weight: 700;
}


.filtres-con  p{
  margin: 0%;
 padding: 5px 15px 5px 10px;
}


.fa-child,.fa-dog,.fa-heart,
.fa-money-bill-wave {
  color: #0065fc;
  background-color: #deebff;
  border: none;
  padding: 15px;
  border-radius: 25px;

}
.fa-child:hover,.fa-dog:hover,.fa-heart:hover,
.fa-money-bill-wave:hover{
   background-color: #f2f2f2;
}




.plus-info{
  padding-bottom: 15px;
  font-weight: 500;
}
.fa-info {
  border: 2px solid #deebff;
  padding: 5px 8px;
  border-radius: 50%;
  font-weight: 400;
  color: #0065fc;
}
/* section hebergement commercer ici */

#main-accomodation-container {
display: flex;
flex-direction: row;
width: 100%;
box-sizing: border-box;
justify-content: space-around;
margin: 10px 0;
}
.main-accomodation{
    width: 65%;
    background: #f2f2f2;
    border-radius: 20px;
  
}
.title{
    padding: 15px 0 10px 30px;
}
.accomodation{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
 
}
.accomodation img{
    width: 100%;
     height: 130px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    object-position: center;
}
a{
    text-decoration: none;

}
.room {
background-color: rgb(255, 255, 255);
border: #ffffffef 4px solid;
border-radius: 20px;
width: 30%;
transition: ease-out .3s;
box-shadow: #dbd4d4 5px 5px 10px;
margin: 10px 0;

}

.room:hover{
  transform: scale(1.02);
}
.info-room {
    padding: 10px;

    
}
.info-room h3{
font-size: 16px;
font-weight: 800;
}
.info-room h3,p{
color: #000;

font-family: raleway;
}
.fa-star{
    color: #c2c0c0;
     font-size: 12px;
}
.checked{
      color: #136df5;
      padding-bottom: 5px;
      font-size: 12px;
}
.afficher_plus {
padding:0 0 15px 15px;
}
.afficher_plus a{
    padding-left: 30px;
   margin-top: 15px;
   padding-bottom: 15px;
    color: #000;
}



/*Div most populaire commerce ici*/

#Pop_Fiche{
    width: 30%;
    background-color: #f2f2f2;
    border-radius: 20px;
padding: 10px;


}
.title_pop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:10px;
}
.fa-chart-line{
  font-size: 20px;
}
.pop-wrap{
    width: 95%;
  display: flex;
  flex-direction: column;
margin: 10px;


}
.chambre-populaire{
    display: flex;
   flex-direction: row;
    border-radius: 20px;
    background-color: #fff;
    border: 3px solid #fbfbfb;
    margin: 10px 5px;
     box-shadow: #dbd4d4 5px 5px 10px;
     transition: ease-out .3s;
}
.chambre-populaire:hover{
  transform: scale(1.02);
}
.chambre-populaire img{
    width: 45%;
    height: 140px;
    border-top-left-radius:20px; 
    border-bottom-left-radius:20px; 
    object-fit: cover;
    object-position:center;
}
.pop_info{
    display: flex;
    flex-direction: column;
 justify-content: space-between;
 padding: 10px;
}
.pop_info h3{
    color: #000;
    font-size: 16px;
    font-weight: 800;
}
.pop_info p{
  padding: 10px 0;
}
/*-----------section Activities---------- */
#Activites{
  margin:15px 10px;
}
.Title-Activites {
  padding:20px;
  font-size: 1.5em;
}
.Activities-marseille {
  margin: 0px 15px 20px 15px;
  width: 98%;
  height: 100%;

  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(4, 4fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;

  grid-template-areas:
    "Vieux-Port Fort-de-Pomégues Parc-National Notre-dame"
    "Vieux-Port Iles-du-Frioul Parc-National Parc-Longchamp";
}


.Activities-marseille a{
  text-decoration: none;
  color: #000;
}
.Vieux-Port {
   grid-area: Vieux-Port;
  width: 100%;
  border: none;
  margin: 0%;
  border-radius: 20px;
  text-align: left;
  box-shadow: #dbd4d4 5px 5px 10px;
  transition: ease-out 0.3s;
}
.Vieux-Port:hover {
  border: none;
  border-radius: 20px;
  opacity: 0.5;
}
.Vieux-Port img {
  width: 100%;
  height: 380px;

  object-fit: cover;
  margin: 0%;
  padding-left: 0%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}


.Fort-de-Pomégues {
  border: none;
   width: 100%;
  grid-area: Fort-de-Pomégues;
  margin: 0%;
  border-radius: 20px;
  box-shadow: #dbd4d4 5px 5px 10px;
  transition: ease-out 0.3s;
}
.Fort-de-Pomégues img {
  width: 100%;
  height: 160px;
  margin: 0%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.Fort-de-Pomégues:hover {
  border: none;
  border-radius: 20px;
  opacity: 0.5;
}


.Iles-du-Frioul {
  border: none;
    width: 100%;
  grid-area: Iles-du-Frioul;
  margin: 0%;
  border-radius: 20px;
  text-align: center;
  box-shadow: #dbd4d4 5px 5px 10px;
  transition: ease-out 0.3s;
}
.Iles-du-Frioul img {
  width: 100%;
  height: 145px;
  object-position: top;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.Iles-du-Frioul:hover {
  border: none;
  border-radius: 20px;
  opacity: 0.5;
}

.Parc-National {
    width: 100%;
  grid-area: Parc-National;
  text-align: left;
  border: none;
  margin: 0%;
  border-radius: 20px;
  box-shadow: #dbd4d4 5px 5px 10px;
  transition: ease-out 0.3s;
}

.Parc-National img {
  width: 100%;
  height: 380px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
div.Parc-National:hover {
  border: none;
  border-radius: 20px;
  opacity: 0.5;
}

.Notre-dame {
  border: none; grid-area: Notre-dame;
  text-align: center;

  margin: 0%;
  border-radius: 20px;
  text-align: left;
  box-shadow: #dbd4d4 5px 5px 10px;
  transition: ease-out 0.3s;
}

.Notre-dame img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.Notre-dame:hover {
  border: none;
  border-radius: 20px;
  opacity: 0.5;
}


.Parc-Longchamp {
  border: none;
    width: 100%;
  grid-area: Parc-Longchamp;
  margin: 0%;
  border-radius: 20px;
  text-align: left;
  box-shadow: #dbd4d4 5px 5px 10px;
  transition: ease-out 0.3s;
}
.Parc-Longchamp img {
  width: 100%;
  height: 150px;
  margin: 0%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
div.Parc-Longchamp:hover {
  border: none;
  border-radius: 20px;
  opacity: 0.5;
}
.info {
  padding: 10px 5px 25px 15px;
  font-weight: 700;
  text-align: left;
}
.info a {
  text-decoration: none;
  color: #000;
  font-weight: 900;
}
.footer {
  background-color: #f2f2f2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding:30px;
  text-justify: auto;
  margin-top: 25px;
}
.footer h3{
  font-size: 1.3em;
}
.footer p{
  padding: 5px;
}




/*breakpoint started ici*/

@media only screen and (max-width: 1200px){

  .eco,.fam,.rom,.Animaux{
  margin: 5px;
}

#main-accomodation-container{
    width: 100%;
     display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;

  }
.main-accomodation{
  background-color: #f2f2f2;
  width: 98%;
  border-radius: 25px;
 margin: 10px;
}
.afficher_plus {
padding:0 0 15px 15px;
}
#Pop_Fiche {
  background-color: #f2f2f2;
  border: none;
  width: 98%;
  display: flex;
  flex-direction: column;
justify-content: center;
  margin: 15px 10px;
}

.pop-wrap{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
 width: 98%;
 margin: 0 5px;
}
.chambre-populaire{
    display: flex;
  
}
.fa-chart-line {
  float: right;
  padding-right: 30px;
}


  .Activities-marseille {
    margin: 10px 10px;
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "Vieux-Port Fort-de-Pomégues"
      
      "Iles-du-Frioul Parc-National"
  
      "Notre-dame Parc-Longchamp"
      ;
  }


.Vieux-Port img {
    width: 99.5%;
    height: 150px;

    object-fit: cover;
    margin: 0%;
    padding-left: 0%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
.Parc-National img {
    width: 99.5%;
    height: 150px;

    object-fit: cover;
    margin: 0%;
    padding-left: 0%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }


@media screen and (max-width: 960px){
*{
  box-sizing: border-box;
}
    .accomodation{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
 
}
.room{
  width: 45%;
}
.main-accomodation{
    width:98%;
    align-items: center;
    justify-content: center;
  background: #fff; 
}

    #Pop_Fiche {
      width: 100%;
      border-radius: 0%;
      margin: 0%;
    }
 

    .pop-wrap{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin: 0%;
  font-size: 90%;
}


}


@media screen and (max-width: 768px) {

main{
  width: 100%;
}



 .accomodation {
 
    width:98%;
    display: flex;
    flex-direction: column;
 align-items: center;
 
    
  }
  .room {
    background: none;
    border: #fff 4px solid;
    border-radius: 20px;
   width: 100%;
   transition: ease-out .3s;
   margin: 10px 0;
    box-shadow: #dbd4d4 5px 5px 10px;
  width: 100%;

}

  #main-accomodation-container{
    width: 100%;
     display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;

  }
  .title{
    padding: 15px 0 10px 15px;
}
  
.afficher_plus a{
 padding: 0;
 margin: 0%;
}
#Pop_Fiche {
  background-color: #f2f2f2;
  border: none;
  width: 100%;
  display: flex;
  flex-direction: column;
margin: 0%;

} 
.chambre-populaire{
  margin: 10px 0;
  width: 100%;
}
.pop-wrap{
  display: flex;
  flex-direction: column;

}
.pop_info{

  margin-left: 10px;
}
.pop_info p{
  padding: 10px 0;
}
  .Activities-marseille {
    margin: 6px 0px;
    width: 95%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
      "Vieux-Port"
      "Fort-de-Pomégues"
      "Iles-du-Frioul"
      "Parc-National"
      "Notre-dame"
      "Parc-Longchamp";
  }
  .Title-Activites {
  padding:10px;

}
}
  @media only screen and (max-width: 500px) {

 .navbar {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "logo navbar-link-sign-up"
    "navbar-link-accomodation navbar-link-activities";
  }
  .navbar img {
    grid-area: logo;
    
  }
  .navbar #navbar-link-accomodation {
    flex-direction: column-reverse;
    grid-area: navbar-link-accomodation;
    font-weight: 700;
  }
  .navbar #navbar-link-activities {
    flex-direction: column-reverse;
    grid-area: navbar-link-activities;
      font-weight: 700;
  }
  .navbar #navbar-link-activities .underline-effect {
    background-color: #dbdbdb;
  }
  .navbar #navbar-link-sign-up {
    display: flex;
    justify-content: flex-end;
    grid-area: navbar-link-sign-up;
   font-weight:800;
  position: absolute;
  right: 15px;
  }

    



  input[type="submit"] {
    display: none;
  }

  .BTN {
    display: inline;

  }
  input[type="text"] {
    width: 60%;
    font-family: raleway;

  }
.filtres-con{
 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin: 10px 0 10px 10px;

 
}
.eco,.fam,.rom,.Animaux{
  margin: 5px;
}

  #Pop_Fiche {
  background-color: #f2f2f2;
  border: none;
  width: 100%;

 
} 
.pop-wrap{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  

} 
.fa-chart-line {
  float: right;
  padding-right: 10px;
}
 .footer {
    width: 100vw;
    display: flex;
justify-content: space-evenly;
padding: 15px 0;
  }
   .footer h3{
     padding: 15px 10px;
   }
  .footer p{
    padding:5px 10px;
  }


}




  @media only screen and (max-width: 500px) {

      #logo img{
  width: 100px;

}

    .Activities-marseille {
      margin: 6px 0px;
      width: 100%;
      display: grid;

      grid-template-columns: 1fr;
      grid-template-rows: repeat(6,1fr);
      grid-template-areas:
        "Vieux-Port"
        "Fort-de-Pomégues"
        "Iles-du-Frioul"
        "Parc-National"
        "Notre-dame"
        "Parc-Longchamp";
    }
  
  div.Vieux-Port img {
    width: 99.5%;
    height: 150px;

    object-fit: cover;
    margin: 0%;
    padding-left: 0%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  div.Parc-National img {
    width: 99.5%;
    height: 150px;

    object-fit: cover;
    margin: 0%;
    padding-left: 0%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .footer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  }

}
