

body{
  font-family: "Raleway", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: initial;
}

header {
  width: 98%;
  max-width: 1440px;
  margin: auto;
}



.navbar {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "logo . accomodation activities sign-up";
}

#logo {
  padding: 0;
}

.navbar .navbar-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.navbar .navbar-link .underline-effect {
  width: 100%;
  height: 3px;
  background: white;
}

.navbar #navbar-link-accomodation > .underline-effect {
  background: #0065fc;
}

.navbar #navbar-link-activities:hover > .underline-effect {
  background: #0065fc;
}

#navbar-link-sign-up a {
  color: #0065fc;
}

.navbar a {
  color: black;
  text-decoration: none;
  padding: 25px;
}

.navbar a:visited {
  color: #0065fc;
}

.navbar img {
  grid-area: logo;
}

.navbar #navbar-link-accomodation {
  grid-area: accomodation;
}

#navbar-link-accomodation a {
  color: #0065fc;
}

.navbar #navbar-link-activities {
  grid-area: activities;
  color: black;
}

.navbar #navbar-link-activities a {
  color: black;
}

.navbar #navbar-link-activities a:hover {
  color: #0065fc;
}

.navbar #navbar-link-sign-up {
  grid-area: sign-up;
  color: #0065fc;
  font-weight: 600;
}

.navbar .active-link {
  color: #0065fc;
}


/*serach box et fitres styling!!!!!!!!!!!!!!!!!!!*/
#Search-box {
 margin: 0px 15px;
}
 #Search-box h1 {
   font-size: 1.2em;
  font-weight: bold;
  margin-left: 0%;
  padding-left: 0%;
 
  
}
#Search-box~p {
  font-weight: 500;
  font-size: 0.99rem;
}
.btn { 
  width: 45px;
  height: 45px;
  color: #000000;
  font-weight: 900;
  background-color: #f2f2f2;
  border: none;
  border-radius: 12px 0 0 12px;
}
.fa-map-marker {
  background-color: #f2f2f2;
  position: relative;
  font-weight: 900;
}

input[type="text"] {
  width: 190px;
  height: 45px;
  background-color: #ffffff;
  color: #000000;
  border: #f2f2f2 solid 1px;
  outline: #f2f2f2;
  font-size: 15px;
  font-weight: 900;
  padding: 0px 20px;
  position: relative;
  left: -5px;
  border-right: none;
}

input[type="submit"] {
  position: relative;
  border-radius: 0 12px 12px 0;
  width: 120px;
  height: 45px;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: #0065fc;
  color: #f2f2f2;
  font-weight: bold;
  left: -10px;
  transition: 0.5s ease-in-out;
}

input[type="submit"]:hover {
  background-color: #136df5;
  color: #000000;
}
.BTN {
  max-width: 500px;
  position: relative;
  display: none;
  border-radius: 12px 12px;
  width: 50px;
  height: 45px;
  left: -15px;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: #0065fc;
  color: #f2f2f2;
  font-weight: bold;
}

/* filtre div commercer ici*/
.filtres-con{
  margin: 10px 0 15px 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
 
 
}
#filtre strong{
  font-size: 20px;
  font-weight:600;
  margin-left: 0;
  
}

#eco-fam{
  display: flex;
 

}

.eco,.fam,.rom,.Animaux{
  display: flex;
  border: #f2f2f2 solid 2px;
  margin: 0 15px;
  align-items: center;
  border-radius: 25px;
}

.eco:hover,.fam:hover,.rom:hover,.Animaux:hover{
   background-color: #f2f2f2;
}

.filtres-con a{
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}


.filtres-con p{
  margin: 0%;
 padding: 5px 15px 5px 10px;
}

.fa-child,.fa-dog,.fa-heart,
.fa-money-bill-wave {
  color: #0065fc;
  background-color: #deebff;
  border: none;
  padding: 15px;
  border-radius: 25px;

}
.fa-child:hover,.fa-dog:hover,.fa-heart:hover,
.fa-money-bill-wave:hover{
   background-color: #f2f2f2;
}




.plus-info{
  padding-bottom: 15px;
}
.fa-info {
  border: 2px solid #deebff;
  padding: 5px 8px;
  border-radius: 50%;
  font-weight: 400;
  color: #0065fc;
}
/* section hebergement comercer ici */
#Hebergement {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
#Hébergements-titre {

  margin: 15px 0 10px 20px;
  padding-top: 10px;
  font-size: 1.3em;

}


.Hebergement-main-container{
  background-color: #f2f2f2;
  width: 65%;
  border-radius: 25px;
  margin: 0px 15px;
  position: relative;
}
.Hebergement-main-container a img{
    width:100%;
  height: 110px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  object-fit: cover;
  object-position:center;

   
}
.Hebergement-main-container a {
text-decoration: none;
color: #000000;

}
.Chambres{
border: #fff 4px solid;
width: 30%;
height: 190px;
border-radius: 20px;
float: left; 
margin: 10px;
background: #fff;
box-shadow: #c2c0c0 5px 5px 10px;
  transition: ease-out 0.3s;
}
.Chambres:hover{
  opacity: 0.8;
}
.desc{
padding-left: 10px;


}

.prix{
  font-size: .9em;
}
 .desc strong{
font-family: Raleway;
font-weight: 700;
font-size: 1.0em;
}
div.desc p{
   margin: 0px;
   padding: 0px;
 }
.fa-star {
  color: #d3d2d2;
  font-size: 10px;
  

}

.checked {
  color: #136df5;
  margin: 0px;
  padding: 0px;
   font-size: 10px;
}

.afficher-pls {
  
 padding-left: 25px;
 padding-top:10px ;
 font-size: 0.8em;


}
* {
  box-sizing: border-box;
}

/* populaire  div commerce ici*/
#Pop_Fiche {
  background-color: #f2f2f2;
  border: none;
  width: 32%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
margin-right: 10px;
  padding: 15px;
}
#Pop_Fiche a{
  text-decoration: none;
  color: #000000;
}
.chambre-pop {
  width: 90%;
  height: 9.2rem;
  border: 3px solid #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
 
  box-shadow: #c2c0c0 5px 5px 10px;
  transition: ease-out 0.3s;
  background-color: #ffffff;
  align-items: center;

  margin: 10px;

}
.chambre-pop:hover{
  opacity: 0.6;
}

.chambre-pop img {
  width: 45%;
  height: 100%;
  align-items: center;
 border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  object-fit: cover;
  object-position: bottom-right;
}

.pop_contenu{
 
  display:flex;
flex-direction: column;
 padding: 5px 0 10px 15px;

 

}
.pop_contenu h3{
 
  font-size:1.0em;
  font-weight: 700;
 

}
.prix{

  font-size: 0.9em;
}

h2.Title_pop {
  text-align: left;
  font-weight: 900;
  font-size: 1.3em;
  margin: 10px 0 10px 15px;
  
}

.fa-chart-line {
  float: right;
  padding-right: 20px;
}

/*---Activities--*/
.Title-Activites {
  padding-left: 20px;
  font-size: 1.3em;
}
.Activities-marseille {
  margin: 0px 15px 20px 15px;
  width: 95%;
  height: 100%;
  padding-left: 10px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(4, 4fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;

  grid-template-areas:
    "Vieux-Port Fort-de-Pomégues Parc-National Notre-dame"
    "Vieux-Port Iles-du-Frioul Parc-National Parc-Longchamp";
}


.Activities-marseille a{
  text-decoration: none;
  color: #000;
}
.Vieux-Port {
   grid-area: Vieux-Port;
  width: 1fr;
  border: none;
  margin: 0%;
  border-radius: 20px;
  text-align: left;
  box-shadow: #dbd4d4 5px 5px 10px;
  transition: ease-out 0.3s;
}
.Vieux-Port:hover {
  border: none;
  border-radius: 20px;
  opacity: 0.5;
}
.Vieux-Port img {
  width: 100%;
  height: 380px;

  object-fit: cover;
  margin: 0%;
  padding-left: 0%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}


.Fort-de-Pomégues {
  border: none;
   width: 1fr;
  grid-area: Fort-de-Pomégues;
  margin: 0%;
  border-radius: 20px;
  text-align: center;
  box-shadow: #dbd4d4 5px 5px 10px;
  transition: ease-out 0.3s;
}
.Fort-de-Pomégues img {
  width: 100%;
  height: 160px;
  margin: 0%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.Fort-de-Pomégues:hover {
  border: none;
  border-radius: 20px;
  opacity: 0.5;
}


.Iles-du-Frioul {
  border: none;
    width: 1fr;
  grid-area: Iles-du-Frioul;
  margin: 0%;
  border-radius: 20px;
  text-align: center;
  box-shadow: #dbd4d4 5px 5px 10px;
  transition: ease-out 0.3s;
}
.Iles-du-Frioul img {
  width: 100%;
  height: 145px;
  object-position: top;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.Iles-du-Frioul:hover {
  border: none;
  border-radius: 20px;
  opacity: 0.5;
}

.Parc-National {
    width: 1fr;
  grid-area: Parc-National;
  text-align: left;
  border: none;
  margin: 0%;
  border-radius: 20px;
  box-shadow: #dbd4d4 5px 5px 10px;
  transition: ease-out 0.3s;
}

.Parc-National img {
  width: 100%;
  height: 380px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
div.Parc-National:hover {
  border: none;
  border-radius: 20px;
  opacity: 0.5;
}

.Notre-dame {
  border: none; grid-area: Notre-dame;
  text-align: center;

  margin: 0%;
  border-radius: 20px;
  text-align: left;
  box-shadow: #dbd4d4 5px 5px 10px;
  transition: ease-out 0.3s;
}

.Notre-dame img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.Notre-dame:hover {
  border: none;
  border-radius: 20px;
  opacity: 0.5;
}


.Parc-Longchamp {
  border: none;
    width: 1fr;
  grid-area: Parc-Longchamp;
  margin: 0%;
  border-radius: 20px;
  text-align: left;
  box-shadow: #dbd4d4 5px 5px 10px;
  transition: ease-out 0.3s;
}
.Parc-Longchamp img {
  width: 100%;
  height: 150px;
  margin: 0%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
div.Parc-Longchamp:hover {
  border: none;
  border-radius: 20px;
  opacity: 0.5;
}
.info {
  padding: 10px 5px 25px 15px;
  font-weight: 700;
  text-align: left;
}
.info a {
  text-decoration: none;
  color: #000;
  font-weight: 900;
}
.footer {
  background-color: #f2f2f2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 30px;
  text-justify: auto;
  margin-top: 25px;
}
.footer h3{
  font-size: 1.3em;
}








@media only screen and (max-width: 1100px){
  #Hebergement{
    width: 100%;
     display: flex;
  flex-direction: column;
  justify-content: flex-start;
  }
  .Hebergement-main-container{
  background-color: #f2f2f2;
  width: 100%;
  border-radius: 25px;
  margin: 0px 15px;

}
#Pop_Fiche {
  background-color: #f2f2f2;
  border: none;
  width: 100%;
  display: flex;
  flex-direction: column;

  margin: 15px;




}
.pop_contenu{
 margin: 0em;
 padding:0em ;
  display:flex;
flex-direction: column;
align-items:flex-start ;
font-size: 70%;
margin-left: 5px;
 
}
.pop-wrap{
  display: flex;
  flex-direction: row;
}
.fa-chart-line {
  float: right;
  padding-right: 50px;
}


  .Activities-marseille {
    margin: 10px 0px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: autofit(3, 1.5fr);
    grid-template-areas:
      "Vieux-Port Fort-de-Pomégues"
      
      "Iles-du-Frioul Parc-National"
  
      "Notre-dame Parc-Longchamp"
      ;
  }


.Vieux-Port img {
    width: 99.5%;
    height: 150px;

    object-fit: cover;
    margin: 0%;
    padding-left: 0%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
.Parc-National img {
    width: 99.5%;
    height: 150px;

    object-fit: cover;
    margin: 0%;
    padding-left: 0%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }





@media screen and (max-width: 700px) {





 .Chambres {
 
    width:95%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    box-shadow: #c2c0c0 5px 5px 10px;
    
  }
  #Hebergement {

    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

.Hebergement-main-container {
  background-color: #fff;
  width: 100%;
  border-radius: 25px;
  margin: 10px 5px;
 
}
.afficher-pls {
  

padding-top: 20px;


}
  #Pop_Fiche {
  background-color: #f2f2f2;
  border: none;
  padding: 0px 10px;
  margin:5px 10px ;
  width: 100%;
  border-radius: 20px;
 
} 
.pop-wrap{
  display: flex;
  flex-direction: column;
}
.pop_contenu{
  font-size: 100%;
  margin-left: 10px;
}

}
  @media only screen and (max-width: 500px) {

 .navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "logo navbar-link-sign-up"
    "navbar-link-accomodation navbar-link-activities";
  }
  .navbar img {
    grid-area: logo;
  }
  .navbar #navbar-link-accomodation {
    flex-direction: column-reverse;
    grid-area: navbar-link-accomodation;
  }
  .navbar #navbar-link-activities {
    flex-direction: column-reverse;
    grid-area: navbar-link-activities;
  }
  .navbar #navbar-link-activities .underline-effect {
    background-color: #dbdbdb;
  }
  .navbar #navbar-link-sign-up {
    display: flex;
    justify-content: flex-end;
    grid-area: navbar-link-sign-up;
  }

    



  input[type="submit"] {
    display: none;
  }

  .BTN {
    display: inline;
  }
.filtres-con{
 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin: 10px 0 10px 10px;

 
}
.eco,.fam,.rom,.Animaux{
  margin: 5px;
}

  #Pop_Fiche {
  background-color: #f2f2f2;
  border: none;
  padding: 0px 10px;
  margin:5px 10px ;
  width: 100%;
  border-radius: 20px;
 
} 
.pop-wrap{
  display: flex;
  flex-direction: column;
}


}


@media only screen and (max-width: 700px) {
  .Activities-marseille {
    margin: 6px 0px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: autofit(6, 1.5fr);
    grid-template-areas:
      "Vieux-Port"
      "Fort-de-Pomégues"
      "Iles-du-Frioul"
      "Parc-National"
      "Notre-dame"
      "Parc-Longchamp";
  }

  @media only screen and (max-width: 500px) {
    .Activities-marseille {
      margin: 6px 0px;
      width: 100%;
      display: grid;

      grid-template-columns: 1fr;
      grid-template-rows: autofit(6, 1fr);
      grid-template-areas:
        "Vieux-Port"
        "Fort-de-Pomégues"
        "Iles-du-Frioul"
        "Parc-National"
        "Notre-dame"
        "Parc-Longchamp";
    }
  
  div.Vieux-Port img {
    width: 99.5%;
    height: 150px;

    object-fit: cover;
    margin: 0%;
    padding-left: 0%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  div.Parc-National img {
    width: 99.5%;
    height: 150px;

    object-fit: cover;
    margin: 0%;
    padding-left: 0%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .footer {
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  }

}
}